// This File is imported last, and will override other styles in the cascade
// Add styles here to make changes without digging in too much
pre {
  font-size: 18px !important;
}
p code, li code {
  font-size: 1em;
}

